# POSTGRESQL
PG_HOST = 'localhost'
PG_USERNAME = 'xxx'
PG_PASSWORD = 'xxx'
PG_PORT = 5432
PG_DATABASE = 'xxx'

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'xxx'

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = 'xxx@xxx'
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = 'xxx-x'